<div data-ng-controller="RestaurantsCtrl">

<h4 id="restaurant-search">Restaurants</h4>

<table class="table" >
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Votes</th>
        <th>Visitors</th>
        <th>Rating</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
          <tr data-ng-repeat="restaurant in restaurants">
            <th scope="row">{{restaurant.id}}</th>
            <td><a data-ng-click="showDetails(restaurant)">{{restaurant.name}}</a></td>
            <td>{{restaurant.votes}}</td>
            <td>{{restaurant.visitors.length}}</td>
            <td>{{restaurant.rating}}</td>
            <td><a href="{{restaurant.website}}">{{restaurant.website}}</a></td>
          </tr>
    </tbody>
</table>


<nav>
  <ul class="pager">
    <li><a data-ng-click="previous()">Previous</a></li>
    <li><a data-ng-click="next()">Next</a></li>
  </ul>
</nav>


<hr>
<h2>Restaurant Details</h2>
<hr>

<div id="restaurant-details">
  <h1>{{details.name}}</h1>

  <p>
    <button type="button" class="btn btn-default" data-ng-click="voteUp()"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
    <button type="button" class="btn btn-default" data-ng-click="voteDown()"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
    <button type="button" class="btn btn-default" data-ng-click="visit()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> been there</button>
  </p>

  <div class="container">

    <p><strong>Address:</strong> {{details.address}}</p>
    <p><strong>Phone:</strong> {{details.telephone}}</p>
    <p><strong>Description:</strong> {{details.description}}</p>
    <p><strong>Votes:</strong> {{details.votes}}</p>
    <p><strong>Rating:</strong> {{details.rating}}</p>


    <div data-ng-show="details.visitors">
    <h4>Visitors</h4>

      <span class="label" data-ng-repeat="visitor in details.visitors"
        data-ng-class="getVisitorClass(visitor)">
        {{visitor.user.username}}
      </span>

    </div>

    <h4>Comments</h4>

    <div data-ng-show="details.comments">
      <div class="panel" data-ng-repeat="comment in details.comments"
        data-ng-class="getCommentClass(comment)">
        <!-- Default panel contents -->
        <div class="panel-heading">{{comment.user.username}}</div>
        <div class="panel-body">
          <p>{{comment.comment}}</p>
        </div>
      </div>
    </div>

    <div data-ng-show="details.comments">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Add a new comment</div>
        <div class="panel-body">
          <textarea rows="4" cols="50" data-ng-model="newComment"></textarea>
          <p>
            <button type="button" class="btn btn-default" data-ng-click="addComment(newComment)">Submit <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
          </p>
        </div>
      </div>
    </div>

  </div>
  <p><a class="btn btn-default" data-ng-click="gotoSearch()" role="button">More restaurants</a></p>


</div>

<!-- Modal -->
<div data-ng-show="details">


</div>

</div>
