<div data-ng-controller="RestaurantsCtrl">


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <!-- Search -->
    <form class="navbar-form navbar-left" role="search" data-ng-submit="doSearch()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" data-ng-model="searchText">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

      <!-- User -->
      <div data-ng-show="user.id">
        <p class="navbar-text navbar-right">Wellcome, <span data-ng-bind="user.username"></span>. <a href="/api-auth/logout/">Logout</a>.</p>
      </div>
      <div data-ng-hide="user.id">
        <p class="navbar-text navbar-right">You are not logged in, please <a href="/api-auth/login/?next=/static/ui/index.html" class="btn btn-primary">Sign In</a></p>
      </div>

    </div>
  </div>
</nav>


<h4 id="restaurant-search">Restaurants</h4>

<table class="table" >
    <thead>
      <tr>
        <th><a data-ng-click="doOrdering('id')">#</a></th>
        <th><a data-ng-click="doOrdering('name')">Name</a></th>
        <th><a data-ng-click="doOrdering('votes')"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a></th>
        <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span></th>
        <th><a data-ng-click="doOrdering('-rating')"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a></th>
        <th><span class="glyphicon glyphicon-link" aria-hidden="true"></span></th>
      </tr>
    </thead>
    <tbody>
          <tr data-ng-repeat="restaurant in restaurants">
            <th scope="row">{{restaurant.id}}</th>
            <td><a data-ng-click="showDetails(restaurant)">{{restaurant.name}}</a></td>
            <td>{{restaurant.votes}}</td>
            <td>{{restaurant.visitors.length}}</td>
            <td>{{restaurant.rating}}</td>
            <td><a href="{{restaurant.website}}">{{restaurant.website}}</a></td>
          </tr>
    </tbody>
</table>


<nav>
  <ul class="pagination">
    <li>
      <a data-ng-click="previous()" aria-label="Previous">
        <span aria-hidden="true">&laquo; Previous</span>
      </a>
    </li>
    <li class="disabled"><span data-ng-bind="'Total: '+response.count"></span></li>
    <li>
      <a data-ng-click="next()" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<hr>
<hr>

<div id="restaurant-details">
  <h1>{{details.name}}</h1>
  <hr>

  <div class="container">

    <p><strong>Address:</strong> {{details.address}}</p>
    <p><strong>Phone:</strong> {{details.telephone}}</p>
    <p><strong>Description:</strong> {{details.description}}</p>
    <p><strong>Rating:</strong> {{details.rating}}</p>
    <hr>
    <p>
      <strong>Thumbs Down Counter:</strong> {{details.votes}}

      <button type="button" class="btn btn-default" data-ng-click="voteDown()"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
      <button type="button" class="btn btn-default" data-ng-click="voteUp()"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
    </p>

    <hr>
    <h4>Visits</h4>
    <p>
      <span class="label" data-ng-repeat="visitor in details.visitors"
        data-ng-class="getVisitorClass(visitor)">
        {{visitor.user.username}}
      </span>
    </p>

    <button type="button" class="btn btn-default" data-ng-click="visit()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> been there</button>

    <hr>
    <h4>Comments</h4>
    <div data-ng-show="details.comments">
      <div class="panel" data-ng-repeat="comment in details.comments"
        data-ng-class="getCommentClass(comment)">
        <!-- Default panel contents -->
        <div class="panel-heading">{{comment.user.username}}</div>
        <div class="panel-body">
          <p>{{comment.comment}}</p>
        </div>
      </div>
    </div>

    <div data-ng-show="details.comments">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Add a new comment</div>
        <div class="panel-body">
          <textarea rows="4" cols="50" data-ng-model="newComment"></textarea>
          <p>
            <button type="button" class="btn btn-default" data-ng-click="addComment(newComment)">Submit <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
          </p>
        </div>
      </div>
    </div>

  </div>
  <p><a class="btn btn-default" data-ng-click="gotoSearch()" role="button">More restaurants</a></p>


</div>

<!-- Modal -->
<div data-ng-show="details">


</div>

</div>
