{% extends "base.html" %}

{% block content %}
<div class="starter-template">
	<h1> Wellcome to Resto!</h1>
	<p class="lead">Let's find a good restaurant</p>
</div>

<h3>See our API <a href="{% url "django.swagger.base.view" %}">here</a></h3>

<h3>See admin interface <a href="/admin">here</a></h3>


<h2>List of restaurants</h2>

<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>Telephone</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
    {% for restaurant in restaurant_list %}
          <tr>
            <th scope="row">{{restaurant.id}}</th>
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.address|default:'-'}}</td>
            <td>{{restaurant.telephone|default:'-'}}</td>
            <td><a href="{{restaurant.website}}">{{restaurant.website|default:'-'}}</a></td>
          </tr>
    {% endfor %}
    </tbody>
</table>

<p>To see the complete list, please use the API services</p>

{% endblock content %}
